% rebase('layout.tpl', title=title, year=year)

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<style>
    .imp{
    margin-right: 15px;
    box-shadow: 0 0 7px 7px rgba(0,0,0,.5);
    border-radius: 15px;
    padding: 10px
    }
    .myh4{
    text-align: center;
    }
</style>
<div style="display: flex; flex-flow: column wrap">
    <h4 class="myh4"><b>Богданов Андрей Дмитриевич</b></h4>
    <p style="font-size: 12pt" align="justify"><img class="imp" align="left" src=".\static\images\Andrey.png" width="300" height="300"/>
        Спроектировал и реализовал классы Graph и GraphNode, решил задачу о поиске подграфа в графе, заполнил
        страничку с теорией о решении, организовал интеграцию алгоритма на сайт,
        написал модульные тесты алгоритма, разработал стили для форм и сами формы ввода количества вершин в графе,
    организовал парсинг ввода данных с форм, реализовал визуализацию графа с помощью библиотек networkx и mathplotlib
    добавил страницу с формой ввода матрицы и страницу ошибок, а так же обновил содержимое главной страницы.</p>
    <br>
    <h4 class="myh4"><b>Повеличенко Дмитрий Юрьевич</b></h4>
    <p style="font-size: 12pt" align="justify"><img class="imp" align="right" style="margin-left: 15px;" src=".\static\images\Dmitry.png" width="300" height="200"/>
        Решил задачу о поиске Эйлерового пути в графе, заполнил
        страничку с теорией о решении, организовал интеграцию алгоритма на сайт,
        написал модульные тесты алгоритма, помогал в проектировании классов graph и graphNode, наполнил эту страницу содержимым,
        разрабртал стили для абзацев, заголовков и кода на страцицах с теориями алгоритмов.
    </p>
    <br>
    <h4 class="myh4"><b>Пластовец Сергей Григорьевич</b></h4>
    <p style="font-size: 12pt" align="justify"><img class="imp" align="left" src=".\static\images\Sergey.png" width="200" height="400"/>
        Решил задачу о поиске вершин с максимальным окружением в графе, заполнил
        страничку с теорией о решении, организовал интеграцию алгоритма на сайт, внёс существенный
        вклад в оформление отчётной документации, добавил стили для корректного отображения графических элементов.</p>
</div>