% rebase('layout.tpl', title=title, year=year)

<h2 style="text-align: center">{{ title }}.</h2>
<h3 class="pretty-h3">{{ message }}</h3>
<h4 class="pretty-h4"><b>Задача</b></h4>
<p class="info-p">Требуется найти (перечислить последовательность вершин) Эйлеров цикл (цепь) в данном графе. Если граф не является Эйлеровым, выдать сообщение об этом.</p>
<h4 class="pretty-h4"><b>Определения</b></h4>
<p class="pretty-p"><b>Эйлеров путь</b> - путь, который проходит по каждому ребру, причем ровно один раз.</p>
<p class="pretty-p"><b>Эйлеров цикл</b> - замкнутый Эйлеров путь.</p>
<p class="pretty-p">Граф называется <b>эйлеровым</b>, если он содержит эйлеров цикл. Граф называется
    <b>полуэйлеровым</b>, если он содержит эйлеров путь, но не содержит эйлеров цикл.</p>
<h4 class="pretty-h4"><b>Эйлеровость графа</b></h4>
<p class="info-p">Согласно теореме, доказанной Эйлером, эйлеров цикл существует тогда и только тогда, когда граф связный
    и в нём отсутствуют вершины нечётной степени.</p>
<p class="info-p">Эйлеров путь в графе существует тогда и только тогда, когда граф связный и содержит не более двух вершин нечётной степени. 
    Ввиду <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B5%D0%BC%D0%BC%D0%B0_%D0%BE_%D1%80%D1%83%D0%BA%D0%BE%D0%BF%D0%BE%D0%B6%D0%B0%D1%82%D0%B8%D1%8F%D1%85">леммы о рукопожатиях</a>, число вершин с нечётной степенью должно быть чётным.
    А значит эйлеров путь существует только тогда, когда это число равно нулю или двум. 
    Причём, когда оно равно нулю, эйлеров путь вырождается в эйлеров цикл.</p>
<h4 class="pretty-h4"><b>Описание алгоритма</b></h4>
<p class="info-p">
    Алгоритм находит эйлеров путь как в ориентированном, так и в неориентированном графе. Перед запуском алгоритма
    необходимо проверить граф на эйлеровость.
    Алгоритм напоминает поиск в глубину. Главное отличие состоит в том, что пройденными помечаются не вершины, а ребра
    графа. Начиная со стартовой вершины строим путь, добавляя на каждом шаге не пройденное еще ребро, смежное с текущей
    вершиной. Вершины пути накапливаются в стеке. Когда наступает такой момент, что для текущей вершины все инцидентные
    ей ребра уже пройдены, записываем вершины из стека в ответ, пока не встретим вершину, которой инцидентны не
    пройденные еще ребра. Далее продолжаем обход по не посещенным ребрам.
</p>
<h4 class="pretty-h4"><b>Алгоритм</b></h4>
<div
    style="font-family: monospace, monospace; tab-size: 4; background-color: #f8f9fa; line-height: 1.3;">
<pre style="font-size: 11.5pt;">
   1. <b>ЕСЛИ</b> количество вершин с нечётной степенью не 0 и не 2 <b>ТО</b>
   2.     выйти из процедуры
   3. stack St;
   4. в St кладём любую вершину (стартовая вершина);
   3. <b>ПОКА</b> есть вершины
   4.     <b>ЕСЛИ</b> вершина имеет нечётную степень <b>ТО</b>
   5.         заменяем последний элемент стека на эту вершину
   6. <b>ПОКА</b> St не пустой
   7.     пусть V - значение на вершине St;
   8.     <b>ЕСЛИ</b> степень(V) = 0, <b>ТО</b>
   9.         добавляем V к ответу;
  10.         снимаем V с вершины St;
  11.     <b>ИНАЧЕ</b>
  12.         находим любое ребро, выходящее из V;
  13.         удаляем его из графа;
  14.         второй конец этого ребра кладём в St;</pre>
</div>
<h3 class="pretty-h3" style="margin-top: 80px"><b>Проверить работу алгоритма</b></h3>
<form class="form" method="post" action="/eulerian_path" style="text-align: center">
    <label>
        <label style="padding: 20px">Количество вершин графа</label>
        <input style="padding: 15px" type="number" class="nice-text-area" name="MATRIX" max="20" min="1">
    </label>
    <p>
        <button class="nice-button" type="submit" value="Выполнить">Ввести граф</button>
    </p>
</form>