% rebase('layout.tpl', title=title, year=year)

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<p><b>Эйлеров путь</b> - путь, который проходит по каждому ребру, причем ровно один раз.</p>
<p><b>Эйлеров цикл</b> - замкнутый Эйлеров путь.</p>
<p>
    Граф называется <b>эйлеровым</b>, если он содержит эйлеров цикл. <br>
    Граф называется <b>полуэйлеровым</b>, если он содержит эйлеров путь, но не содержит эйлеров цикл.
</p>
<p>Согласно теореме, доказанной Эйлером, эйлеров цикл существует тогда и только тогда, когда граф связный и в нём отсутствуют вершины нечётной степени.</p>