% rebase('layout.tpl', title=title, year=year)

<h2>{{title}}</h2>
<h3>Вершины с максимальным окружением: {{peak_count}} </h3>


<div class="element-position-GE">
    <div>
        <img src="{{image_path}}" width="700" height="700" />
    </div>
    <div>
        <table cellpadding="10">
        <caption class="table-achievment">Матрица достижимости для текущего графа</caption>
            %for i in range(0, len(ach_mtx)):
                <tr class="table-achievment"></tr>
                %for j in range(0, len(ach_mtx)):
                <td class="table-achievment">{{ach_mtx[i,j]}}</td>
                %end
            %end
        </table>
    </div>
</div>