% rebase('layout.tpl', title=title, year=year)

<h2 style="text-align: center">{{ title }}.</h2>
<h3 class="pretty-h3">{{ message }}</h3>

<h4 class="pretty-h4"><b>Задача</b></h4>
<p class="info-p">
    Требуется реализовать алгоритм поиска в графе вершин, имеющих наибольшее окружение.
    Пусть дан граф и число k максимального количества ярусов. Требуется найти вершины в графе, у которых в первых k
    ярусах находится наибольшее количество вершин.
</p>
<h4 class="pretty-h4"><b>О решении и алгоритме</b></h4>
<p class="info-p">Решение данной задачи сводится к следующим действиям - необходимо найти матрицу достижимости для
    данного графа, и отобрать те строчки, где сумма единиц максимальная.
    Это и будут вершины, имеющие максмиальное окржуение на заданных ярусах (т.е. номер строки равен номеру вершины)</p>
<p class="info-p">Для нахождения матрицы достижимости необходимо выполнить следующие действия:</p>
<div style="font-family: monospace, monospace; tab-size: 4; background-color: #f8f9fa; line-height: 1.3;">
    <pre style="font-size: 11.5pt;">
    1. Выбрать число ярусов (К)
    2. Найти единичную матрицу для данного графа
    3. Составить матрицу смежности для данного графа
    4. Возводить матрицу смежности до степени К для получения булевых матриц
    5. Логически сложить единичную матрицу, матрицу смежности и все булевы матрицы до степени К (включительно)
    6. Получить ответ!</pre>
</div>
<h4 class="pretty-h4"><b>Пример:</b></h4>
<p class="info-p">Число ярусов: 3</p>
<p class="info-p">Исходная матрица смежности: А</p>
<p class="info-p">Единичная матрица: Е</p>
<p class="info-p">Булева матрица второй степени: А<sup>2</sup></p>
<p class="info-p">Булева матрица третьей стпени: А<sup>3</sup></p>
<p class="info-p">Матрица достижимости = Е v A v А<sup>2</sup> v А<sup>3</sup></p>

<h4 class="pretty-h4"><b>Начало работы:</b></h4>
<p class="info-p">Для того, чтобы начать работу с данным алгоритмом, необходимо ввести следующие данные: число вершин
    (не меньше нуля и не больше 23)
    и число ярусов (число не может быть меньше 0).</p>
<p class="info-p">Для ввода графа используется матрица смежности графа. Для заполнения матрицы необходимо выбрать те
    клетки, где на пересечении строк и столбцов существует связь, т.е. eсли граф выглядит так: </p>
<p class="image-position"><img src='\static\images\graph_image.png' class="image-position"/></p>
<p class="info-p">его матрица смежности будет следующей: </p>
<p class="image-position"><img src='\static\images\matrix_image.png'/></p>
<p class="info-p">p.s. стоит отметить, что в представленном графе счет идет с 0, поэтому не стоит удивляться, что на
    графе нет цифры 5 </p>
<p class="info-p"> В случае, если пользователь введет некорректные данные, он получит НИЧЕГО. Спасибо за понимание</p>
<form class="form" method="post" action="/graph_encirclement">
    <div class="box" style="justify-content: center">
        <div class="table-container" style="border: none; margin: 10px">
            <label>
                <p style="padding-top: 50px">Количество вершин графа</p>
                <input style="padding: 15px" type="number" class="nice-text-area" name="MATRIX" max="23" min="1">
            </label>
        </div>
        <div class="table-container" style="border: none; margin: 10px">
            <label>
                <p style="padding-top: 50px">Количество ярусов (ребер)</p>
                <p><input style="padding: 15px" type="number" class="nice-text-area" name="LEVEL" min="1"></p>
            </label>
        </div>
    </div>
    <p style="text-align: center">
        <button class="nice-button" type="submit" value="Выполнить">Ввести граф</button>
    </p>
</form>


